@test:registry=https://pkg.jfrog.io/artifactory/api/npm/test-npm-local/
//pkg.jfrog.io/artifactory/api/npm/test-npm-local/:_password=${ARTIFACTORY_PASSWORD}
//pkg.jfrog.io/artifactory/api/npm/test-npm-local/:username=${ARTIFACTORY_USERNAME}
//pkg.jfrog.io/artifactory/api/npm/test-npm-local/:email=${ARTIFACTORY_EMAIL}
//pkg.jfrog.io/artifactory/api/npm/test-npm-local/:always-auth=true